@import 'bootstrap';
@import 'bootstrap-responsive';

/*changes to navbar*/
$navbarBackgroundHighlight: $black;
$navbarBackground: $black;
$navbarLinkColor: $white;

body {

	padding-top: 60px;
}

.footer {
	margin-top: 200px;
	color: $gray;
}

